<div class="column-layout group">
  <igx-navbar class="navbar">
    <igx-navbar-action>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          menu
        </igx-icon>
      </button>
    </igx-navbar-action>
    <ng-container>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          search
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          more_vert
        </igx-icon>
      </button>
    </ng-container>
    <igx-navbar-title>Screen Title</igx-navbar-title>
  </igx-navbar>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
